<div>
  <center>
    <div style="max-width: 600px;">
      <div style="text-align: center;">
        <h2>{{data.plan}}<h2>
      </div>
      <hr>
      <div style="display: flex; justify-content: space-between;">
        <table>
          <tr>
            <td>
              {{ 'What you will pay for @interval starting on @date'|trans ({'@interval': data.interval, '@date': data.period_start|date("d F Y") }) }}
            <td>
            <td>$ {{data.price}}</td>
          </tr>
        </table>
      </div>
        <div style="display: flex; justify-content: space-between;">
          <p>{{ 'Amount due: today'|trans }}</p> 
          <div>
          {% if data.proration %}
            ${{ data.total_adeudado}}
          {% else %}
            $0.00
          {% endif %}
          </div>
        </div>
      <hr>
      <a href="/update_subscription/{{data.subscription}}/{{data.itemID}}/{{data.priceID}}/{{data.proration}}">{{ 'Confirm'|trans }}</a>
      <a href="javascript:history.back()">{{ 'Go Back'|trans }}</a>
    </div>
  </center>
</div>
